// Based on https://github.com/pages-themes/cayman/blob/master/_sass/variables.scss

// Breakpoints
$large-breakpoint: 64em !default;
$medium-breakpoint: 42em !default;

// Headers
$header-heading-color: #fff !default;
$header-bg-color: #639 !default;
$header-bg-color-secondary: #639 !default;

// Text
$section-headings-color: #639 !default;
$body-text-color: #6c6071 !default;
$body-link-color: #639 !default;
$blockquote-text-color: #918198 !default;

// Code
$code-bg-color: #f6f3fa !default;
$code-text-color: #745682 !default;

// Borders
$border-color: #e6dcf0 !default;
$table-border-color: #ebe9ec !default;
$hr-border-color: #f0eff1 !default;
